In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [8]:
df = spark.range(0,10)

In [9]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [10]:
display(df)

DataFrame[id: bigint]